body {
  min-height: 100vh;
  background-color: bisque;
  color: darkslategray;
  display: flex;
  flex-direction: column;
}

#productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.card {
  width: 12rem;
  height: 18rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card>img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card>h2 {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: ellipsis;
  max-width: 100%;
}

#cartContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  background-color: burlywood;
  border-radius: 0.5rem;
}

.cartCard>img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.cartCard>h3 {
  font-size: medium;
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: ellipsis;
  margin: 0 1rem;
}

.button {
  margin: 1rem;
  background-color: bisque;
  color: darkslategray;
  border: 1px solid darkslategray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.addButton {
  margin: 1rem;
  background-color: bisque;
  color: darkslategray;
  border: 1px solid darkslategray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

footer {
  text-align: center;
  margin: 1rem 0 0;
}

#searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  flex-wrap: wrap;
  margin: 1rem;
  background-color: burlywood;
  border-radius: 0.5rem;
}

#searchBar>fieldset {
  border: none;
}

#searchBar button {
    background-color: bisque;
    color: darkslategray;
    border: 1px solid darkslategray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

input, select {
  padding: .5rem 1rem;
  margin: 0 .5rem;
  border-radius: .5rem;
  border: none;
}
